/*General Stles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font: normal 16px sans-serif;
  color: #fff;
}

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

a:hover{
  opacity: 1;
}

a.btn{
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #1D88A1;
  opacity: 1;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 80px;
}

.grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr{
  width: 250px;
  height: 3px;
  background-color: #1D88A1;
  margin-bottom: 50px;

}

section h3.title{
  text-transform: capitalize;
  font: bold 32px "Open Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
  color: #1D88A1;
}

section p{
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #1D88A1

}
/*Header Styles */

header{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 100;
}

li a:hover{
  color: #1D88A1;
  transition: color 0.5s ease-out;
  z-index: 100;
}

@keyframes fadein{
  100% {
    opacity: 1;
  }
}

header h2{
  font-family: "Quicksand", sans-serif;
}

header nav{
  display: flex;
  margin-right: -15px
}


header nav li{
  margin: 0 15px;
}



div .title li{
  padding: 10px;
  color: #1D88A1;
}

div .title h3{
  color: #1D88A1;
}

div .title p{
  padding-top: 10px;
}


/*Hero Styles*/
.hero{
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #1D88A1;

}

.hero .background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index:-1;
  background-color: #1D88A1;

}

.hero h1{
  font: bold 60px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3{
  font: normal 28px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero a.btn{
  padding: 20px 46px;
}

.hero-content-area{
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {

  100%{
    opacity: 1;
    margin: 0;
  }

}

.container{
  display: flex;
  background: white;
  width: 100%;
  min-height: 35vh;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.footer{
  display: flex;
  background: #1D88A1;
  width: 100%;
  min-height: 5vh;
  color: white;
}

.box{
  display: flex;
  text-align: center;
  color: white;
}


.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 40px;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;
}
